<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<title></title>
<body>
<table>
    <tbody>
    <tr>
        <td>
            Status:
        </td>
        <td>
            <span th:text='${status}'></span>
        </td>
    </tr>
    <tr>
        <td>
            Path:
        </td>
        <td>
            <span th:text='${path}'></span>
        </td>
    </tr>
    <tr>
        <td>
            Error:
        </td>
        <td>
            <span th:text='${error}'></span>
        </td>
    </tr>
    <tr>
        <td>
            Timestamp:
        </td>
        <td>
            <span th:text='${timestamp}'></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
