<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.mc.dao.ModelNodeBatchMapper">




    <update id="batchUpdate" >
        <foreach collection="nodes" separator=";" item="node">
            update model_node set node_status = #{node.nodeStatus} where model_node_uuid = #{node.modelNodeUuid}
        </foreach>
    </update>



</mapper>