<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>  {{'i18n_role_add' | translator}}</div>
        </div>
    </md-toolbar>
    <form name="addUserForm" class="md-padding">
        <div ng-repeat="roleInfo in item.roleInfoList" style="margin-bottom: 60px">
            <md-input-container class="md-block" layout-gt-xs="row">
                <label> {{'i18n_user_type' | translator}}</label>
                <md-select name="adminRoleId" ng-model="roleInfo.roleId" required
                           ng-change="changeRole(roleInfo,roleInfo.roleId)">
                    <md-option ng-value="role.id"
                               ng-repeat="role in roles"
                               ng-if="filterRole(role,roleInfo)">
                        {{role.name}}
                    </md-option>
                </md-select>
                <div ng-messages="addUserForm.adminRoleId.$error">
                    <div ng-message="required"> {{'i18n_required' | translator}}</div>
                </div>
                <md-icon style="cursor:pointer;"
                         ng-if="item.roleInfoList.length>1"
                         ng-click="subtractLine(roleInfo)">clear
                </md-icon>
                <md-icon ng-if="item.roleInfoList.length <= 1">
                </md-icon>
            </md-input-container>
            <!--<virtual-select-multiple
                    name="workspaceIds"
                    value="id"
                    label="name"
                    items="workspaces"
                    placeholder=" {{'i18n_workspace_add' | translator}}"
                    results="roleInfo.workspaceIds"
                    required="true"
                    ng-if="roleInfo.roleType===roleConst.user"
            ></virtual-select-multiple>-->


            <!--<virtual-select-multiple
                    name="organizationIds"
                    value="id"
                    label="name"
                    items="orgs"
                    placeholder=" {{'i18n_organization_add' | translator}}"
                    results="roleInfo.organizationIds"
                    required="true"
                    ng-if="roleInfo.roleType===roleConst.orgAdmin"
            ></virtual-select-multiple>-->

            <md-input-container class="md-block" layout-gt-xs="row" ng-if="roleInfo.roleType===roleConst.user">
                <label> {{'i18n_workspace_add' | translator}}</label>
                <!--<wks-select required="true" name="workspaceIds" results="roleInfo.workspaceIds"  ng-if="roleInfo.roleType===roleConst.user"></wks-select>-->
                <tree-select-a
                        name="workspaceIds"
                        where="wks_param"
                        ts-url="user/orgtreeselect"
                        method="post"
                        builder="builder"
                        single="false"
                        changed="ts_changed"
                        selected="roleInfo.workspaceIds"
                        no-cascade="true"
                        required="true"
                        check-condition="enableCheckBox"
                        ng-if="roleInfo.roleType===roleConst.user"
                ></tree-select-a>
                <div ng-messages="editUserForm.workspaceIds.$error">
                    <div ng-message="required"> {{'i18n_required' | translator}}</div>
                </div>
            </md-input-container>


            <md-input-container class="md-block" layout-gt-xs="row" ng-if="roleInfo.roleType===roleConst.orgAdmin">
                <label> {{'i18n_organization_add' | translator}}</label>
                <!--<org-select required="true" name="organizationIds" results="roleInfo.organizationIds" ng-if="roleInfo.roleType===roleConst.orgAdmin"></org-select>-->
                <tree-select-a
                        name="organizationIds"
                        where="org_param"
                        ts-url="user/orgtreeselect"
                        method="post"
                        builder="builder"
                        single="false"
                        changed="ts_changed"
                        selected="roleInfo.organizationIds"
                        no-cascade="true"
                        required="true"
                        ng-if="roleInfo.roleType===roleConst.orgAdmin"
                ></tree-select-a>
                <div ng-messages="editUserForm.organizationIds.$error">
                    <div ng-message="required"> {{'i18n_required' | translator}}</div>
                </div>
            </md-input-container>


        </div>
        <md-button layout="row" layout-align="center" class="md-raised md-success"
                   ng-disabled="addUserForm.$invalid || !isAddLineAble"
                   style="width: 95%;" ng-click="addLine(roleInfoList)">
             {{'i18n_role_add' | translator}}
        </md-button>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="closeToggleForm()">
             {{'i18n_cancel' | translator}}
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="addUserForm.$invalid"
                   ng-click="submitUserRole(item)">
             {{'i18n_save' | translator}}
        </md-button>
    </div>
</div>