<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div> {{'i18n_change_password' | translator}}</div>
        </div>
    </md-toolbar>
    <form name="resetForm" class="md-padding">
        <md-input-container class="md-block" flex-gt-sm>
            <label> {{'i18n_password' | translator}}</label>
            <i id="eye" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('password','eye')"></i>
            <input minlength="6" md-maxlength="30" maxlength="30" type="password" required name="password" id="password"
                   ng-click="changeType('password')"
                   ng-model="resetItem.password">
            <div ng-messages="resetForm.password.$error">
                <div ng-message="required"> {{'i18n_required' | translator}}</div>
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                     {{'i18n_password_check_length_error' | translator}}
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label> {{'i18n_confirm_password' | translator}}</label>
            <i id="eye1" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('rePassword','eye1')"></i>
            <input id="rePassword" md-maxlength="30" type="password" required name="rePassword"
                   ng-model="resetItem.rePassword" password-check="resetItem.password"
                   ng-click="changeType('rePassword')">
            <div ng-messages="resetForm.rePassword.$error">
                <div ng-message="required"> {{'i18n_required' | translator}}</div>
                <div ng-message="passwordCheck"> {{'i18n_password_check_same_error' | translator}}</div>
                <div ng-message="md-maxlength"> {{'i18n_input_length_limit_30' | translator}}</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="closeToggleForm();">
             {{'i18n_cancel' | translator}}
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="resetForm.$invalid"
                   disabled="{{resetItem.password!==resetItem.rePassword}}"
                   ng-click="submit('resetPassword',resetItem)">
             {{'i18n_save' | translator}}
        </md-button>
    </div>
</div>