
<div layout="row" class="filter" layout-align="start center" md-colors="{color:'primary'}">
    <div flex="100" layout="row" layout-align="start center" layout-wrap class="filter-content">
        <div layout="row" layout-align="start center" style="box-shadow:none!important;background-color: transparent!important;min-width: 0px;!important;padding:0 0px!important;" class="filter-result md-whiteframe-1dp">
            <md-chips name="{{name}}"
                      style="height: 40px!important;"
                      ng-model="values"
                      md-on-add="onValuesAdd($chip, $index)"
                      md-on-remove="onValuesRemove($chip, $index)"
                      ng-required="{{required}}"
                      md-removable="true">
                <!--<input type="number" placeholder="Enter a number" aria-label="Number chips with no model">-->
                <input id="_input_" type="text" style="border-width: 0px;" class="filter-input-text pointer" readonly="true" ng-click="edit();(treeData && treeData.length > 0) && open();" filter-popover auto-open="false" popover-template="filter-select1">
            </md-chips>
        </div>
        <div class="filter-condition tree-select-new">
            <script type="text/ng-template" id="filter-select1">
                <md-content layout="column" class="md-whiteframe-2dp">

                    <input class="filter-select-search" type="search" ng-model="keyWord" placeholder="{{'i18n_filter_quick_query' | translator:'快速查找'}}" />
                    <div layout="column" class="filter-list">
                        <div class="md-padding">
                            <tree data="treeData" option="option" api="noroot" type="checkbox" style="height: 30vh" class="filter-multistage-tree"></tree>
                        </div>
                    </div>
                </md-content>
            </script>
            <!--<input id="_input_" type="text" style="border-width: 0px;" class="filter-input-text pointer" readonly="true" ng-click="readyOpen()" filter-popover auto-open="false" popover-template="filter-select1">-->
        </div>
    </div>
</div>






