<div style="max-width: 80vw;width: 800px;position: static;background-color: white;overflow: hidden">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>API Keys</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div style="margin: 0px 20px">
            <table style="text-align: left">
                <thead>
                <tr>
                    <th width="30%">Access Key</th>
                    <th width="30%">Secret Key</th>
                    <th width="10%">{{'i18n_status'| translator}}</th>
                    <th width="20%">{{'i18n_create_time'| translator}}</th>
                    <th width="10%">{{'i18n_operation'| translator}}</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="userKey in userKeys">
                    <td>{{userKey.accessKey}}</td>
                    <td>
                        <span ng-if="userKey.show && userKey.show === 'ok'">
                            <strong>{{userKey.secretKey}}</strong>
                            <a style="color: #5977cf;cursor: pointer" ng-click="userKey.show = 'off';">
                                {{'i18n_hide'| translator}}
                            </a>
                        </span>
                        <span ng-if="!(userKey.show && userKey.show === 'ok')">
                            <a style="color: #5977cf;cursor: pointer" ng-click="userKey.show = 'ok';">
                                {{'i18n_display'| translator}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <md-switch class="md-primary" aria-label="enable" ng-model="userKey.active" style="margin: 0"
                                   ng-change="changeUserKeyStatus(userKey)">
                        </md-switch>
                    </td>
                    <td>
                        {{userKey.createTime | date:'yyyy-MM-dd HH:mm'}}
                    </td>
                    <td>
                        <a style="color: #5977cf;cursor: pointer" ng-click="deleteUserKey(userKey)">
                            {{'i18n_delete'| translator}}
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center" style="margin-bottom: 15px;margin-top: 10px;">
        <md-button class="md-raised md-primary" ng-click="generateUserKey()">
            {{'i18n_create'| translator}}
        </md-button>
        <md-button class="md-raised md-primary" href="/doc.html" target="_blank">
            {{'i18n_view_api'| translator}}
        </md-button>
    </md-dialog-actions>

</div>