<md-dialog aria-label="Change Password Dialog">
    <form ng-cloak name="resetForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'i18n_change_password' | translator}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="width: 800px">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>{{'i18n_old_password' | translator}}</label>
                    <i id="eye1" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('oldPassword','eye1')"></i>
                    <input minlength="6" md-maxlength="30" maxlength="30" type="password" required name="oldPassword"
                           id="oldPassword"
                           ng-model="item.oldPassword">
                    <div ng-messages="resetForm.oldPassword.$error">
                        <div ng-message="required">{{'i18n_required' | translator}}</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            {{'i18n_password_check_length_error' | translator}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'i18n_new_password' | translator}}</label>
                    <i id="eye2" class="fa fa-eye f2c-eye" aria-hidden="true" ng-click="view('newPassword','eye2')"></i>
                    <input minlength="6" md-maxlength="30" maxlength="30" type="password" required name="newPassword"
                           id="newPassword"
                           ng-model="item.newPassword">
                    <div ng-messages="resetForm.newPassword.$error">
                        <div ng-message="required">{{'i18n_required' | translator}}</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            {{'i18n_password_check_length_error' | translator}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'i18n_confirm_new_password' | translator}}</label>
                    <i id="eye3" class="fa fa-eye f2c-eye" aria-hidden="true"
                       ng-click="view('reNewPassword','eye3')"></i>
                    <input md-maxlength="30" type="password" required name="reNewPassword" id="reNewPassword"
                           ng-model="item.rePassword"
                           password-check="item.newPassword">
                    <div ng-messages="resetForm.reNewPassword.$error">
                        <div ng-message="required">{{'i18n_required' | translator}}</div>
                        <div ng-message="passwordCheck">{{'i18n_password_check_same_error' | translator}}</div>
                        <div ng-message="md-maxlength">{{'i18n_password_check_length_error' | translator}}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center" style="margin-bottom: 15px;">
            <md-button class="md-raised" ng-click="closeDialog();">
                {{'i18n_cancel' | translator}}
            </md-button>
            <md-button class="md-raised md-primary"
                       ng-disabled="resetForm.$invalid || item.newPassword !== item.rePassword" ng-click="submit(item)">
                {{'i18n_save' | translator}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>