<md-menu md-position-mode="target bottom">
    <md-button class="md-icon-button f2c-icon-button" ng-class="{'md-accent':pagination.itemCount > 0}"
               ng-click="$mdMenu.open()"
               aria-label="Task Menu">
        <md-tooltip class="f2c-tooltip">{{'i18n_notice' | translator}}
            <span ng-if="pagination.itemCount > 99">(99+)</span>
            <span ng-if="pagination.itemCount <= 99">({{pagination.itemCount}})</span>
        </md-tooltip>
        <md-icon class="md-18 md-light" ng-if="!pagination.itemCount || pagination.itemCount == 0">notifications
        </md-icon>
        <md-icon class="md-18 md-light md-accent inbox-has" ng-if="pagination.itemCount > 0">notifications_active
        </md-icon>
    </md-button>
    <md-menu-content width="4">
        <div class="inbox-menus">
            <div class="inbox" ng-repeat="item in items" ng-click="open(item)">
                <div class="inbox-name">{{item.title}}
                    <div class="inbox-time">{{item.updateTime | date:'yyyy-MM-dd HH:mm'}}</div>
                </div>
            </div>
        </div>
        <div class="inbox-all" ng-click="show()">
            {{'i18n_view_all' | translator}}
        </div>
    </md-menu-content>
</md-menu>