<div style="max-width: 80vw;pointer-events: auto;width: 600px;position: static;height: 50vh;background-color: white;overflow: hidden">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'i18n_select_role' | translator}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="content" ng-controller="SwitchRoleController">
            <div class="hide-validation-error product-input">
                <md-input-container style="margin: 0;width: 90%;height: 35px;">
                    <md-icon>search</md-icon>
                    <input ng-change="filterUserRoleFun()" ng-model="filterParameter" type="text" placeholder="{{'i18n_search_tip' | translator:'请输入搜索内容'}}">
                </md-input-container>
            </div>
            <tree class="resource-tree role-tree" data="treeData" api="treeApi" type="link"></tree>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center" class="footer">
        <md-button class="md-raised" ng-click="closeDialog();">
            {{'i18n_cancel' | translator}}
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="!selectItemId"
                   ng-click="changeSubmit()">
            {{'i18n_save' | translator}}
        </md-button>
    </md-dialog-actions>

</div>
