<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>{{'i18n_organization_edit' | translator:'编辑组织'}}</div>
        </div>
    </md-toolbar>
    <form name="organizationFrom" class="md-padding">
        <md-input-container class="md-block" flex-gt-sm>
            <label> {{'i18n_organization_name' | translator}}</label>
            <input minlength="2" md-maxlength="30" required name="name" ng-model="item.name">
            <div ng-messages="organizationFrom.name.$error">
                <div ng-message="required"> {{'i18n_required' | translator}}</div>
                <div ng-message="md-maxlength">{{'i18n_input_length_limit_30' | translator}}</div>
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                     {{'i18n_name_limit_msg' | translator}}
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label> {{'i18n_organization_desc' | translator}}</label>
            <input md-maxlength="50" name="description" ng-model="item.description">
            <div ng-messages="organizationFrom.description.$error">
                <div ng-message="md-maxlength">{{'i18n_input_length_limit_50' | translator}}</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="closeToggleForm();">
             {{'i18n_cancel' | translator}}
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="organizationFrom.$invalid" ng-click="submit('edit',item)">
             {{'i18n_save' | translator}}
        </md-button>
    </div>
</div>