<div layout-fill class="content-backdrop" ng-controller="OrganizationTreeController" ng-cloak>
    <div cg-busy="{promise:loadingLayer,minDuration:500}" layout="column" layout-fill>
        <md-toolbar class="content-toolbar">
            <div class="md-toolbar-tools">
                <div>{{'i18n_organization_list' | translator:'组织列表'}}</div>
                <md-button class="md-primary" ng-click="create()" has-permission="ORGANIZATION:READ+CREATE">
                    <md-icon>add_circle_outline</md-icon>
                    {{'i18n_create' | translator}}
                </md-button>
                <md-button class="md-primary" ng-click="delete()" has-permission="ORGANIZATION:READ+DELETE">
                    <md-icon>delete</md-icon>
                    {{'i18n_delete' | translator}}
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <div class="md-padding" layout-fill layout="column" flex="100">
                <filter-tools conditions="conditions" results="filters" search="'true'" execute="list()">
                    <select-columns columns="columns"></select-columns>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                            <md-tooltip md-delay="300"> {{'i18n_refresh' | translator}}</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </md-button>
                    </div>
                </filter-tools>
                <tree-table t-b-titles="cols" tree-url="tree_url" id-name="id_name" pid-name="pid_name" where="treeTableParam"></tree-table>
            </div>
        </div>
        <info-form width="50%"></info-form>
        <side-form></side-form>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

