
<div layout-fill ng-controller="ModelManagerController" class="content-backdrop license-panel" >
    <div layout-fill ng-include="background" class="license-background" aria-hidden="true"></div>
    <div layout="column" layout-fill class="model_manager_container">

        <md-content flex="auto">
            <div wizard="wizard" ng-if="show" class="model_class">
                <wizard-step id="1">
                    <md-content flex="100">

                        <div >
                            <form name="modelFrom" class="md-padding"
                                  cg-busy="{promise:loadingLayer,minDuration:500}">
                                <md-input-container md-no-float class="md-block"
                                                    layout-gt-xs="row"
                                                    style="margin-bottom: 0px" >
                                    <label>是否使用本地仓库</label>
                                    <md-switch class="md-primary" aria-label="enable" ng-model="onLine" ></md-switch>

                                </md-input-container>

                                <md-input-container class="md-block" layout-gt-xs="row">
                                    <label>运行环境</label>
                                    <md-select ng-model="item.model_env" required ng-change="changeEnv()" >
                                        <md-option ng-value="env.value" ng-repeat="env in envs">
                                            {{env.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="modelFrom.parentId.$error">
                                        <div ng-message="required"> {{'i18n_required' | translator}}</div>
                                    </div>
                                </md-input-container>

                                <md-input-container ng-hide="!!onLine" md-no-float class="md-block"
                                                    layout-gt-xs="row"
                                                    style="margin-bottom: 0px" >
                                    <md-icon>link</md-icon>
                                    <input style="cursor:pointer;" ng-model="indexServer.address"
                                           type="text"
                                           placeholder="{{'i18n_index_server_addr' | translator:'索引服务地址'}}">
                                </md-input-container>

                                <md-content ng-hide="!!onLine" class="md-block" flex="100" style="margin-left: 30px">
                                    <label>{{'i18n_mc_explain' | translator:'说明'}}：</label>
                                    <span> {{'i18n_index_server_online_explain' | translator:'此设置的目的是为了从索引服务器拉取镜像' }}</span>
                                </md-content>
                            </form>
                        </div>
                    </md-content>
                </wizard-step>
                <wizard-step id="2">
                    <md-content flex="100" >
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="可安装" has-permission="KEYCLOAK_SETTING:SYNC">
                                <div>
                                    <md-button class="md-primary" ng-click="modelInstaller.executeInstall()" >
                                        <md-icon>build</md-icon>
                                        安装
                                    </md-button>
                                </div>
                                <div ng-controller="ModelManagerController">
                                    <md-content class="md-padding" cg-busy="{promise:loadingLayer,minDuration:500}">
                                        <table class="edit-table" dynamic-table columns="modelInstaller.installableColumns" execute="modelInstaller.loadInstallable()">
                                            <tbody>
                                            <tr ng-repeat="item in installableItems">
                                                <td has-permissions="KEYCLOAK_SETTING:SYNC">
                                                    <md-checkbox md-no-ink aria-label=" {{'i18n_mail_enable' | translator}}"
                                                                 ng-model="item.enable"
                                                                 class="md-primary"></md-checkbox>
                                                </td>
                                                <td><img ng-src="{{item.remoteImageUrl}}" height="16px" width="16px" style="vertical-align:middle">{{item.name}}</td>
                                                <td>{{item.module}}</td>
                                                <td class="edit-td">
                                                    <div layout="row">
                                                        <a class="edit-span" class="md-primary" style="cursor:pointer" href=""
                                                           ng-if="!!item.lastRevision" ng-hide="item._versionEdit" >
                                                            {{item.lastRevision}}
                                                            <md-tooltip md-direction="top" class="f2c-tooltip-version">
                                                                版本信息：{{item.last_version.revision}}<br>
                                                                创建时间：{{item.last_version.created}}<br>
                                                                下载地址：{{item.last_version.downloadUrl}}<br>
                                                                <span class="auto-break">描述信息：{{item.last_version.description}}</span>
                                                            </md-tooltip>
                                                        </a>
                                                        <!--<span class="edit-span" ng-hide="item._versionEdit" >{{item.lastRevision}}</span>-->
                                                        <md-select ng-show="item._versionEdit" ng-model="item.lastRevision" ng-change="modelInstaller.doneEditVersion(item)">
                                                            <md-option ng-repeat="vitem in currentRevisions" value="{{vitem.revision}}">{{vitem.revision}}
                                                            </md-option>
                                                        </md-select>
                                                        <span ng-if="item.revisions.length > 1" class="hide-content" >
                                                            <md-icon ng-if="!item._versionEdit" ng-click="modelInstaller.editVersion(item)" >edit</md-icon>
                                                            <md-icon ng-if="item._versionEdit" ng-click="modelInstaller.doneEditVersion(item)" >done</md-icon>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>{{item.overview}}</td>
                                                <td>
                                                    <md-button ng-click="item.enable = true;modelInstaller.executeInstall()">
                                                        <md-icon class="md-18">build</md-icon>
                                                        安装
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--<table-pagination pagination="pagination"></table-pagination>-->
                                    </md-content>
                                </div>

                            </md-tab>
                            <md-tab label="可更新" has-permission="KEYCLOAK_SETTING:SYNC">
                                <div>
                                    <md-content class="md-padding" cg-busy="{promise:loadingLayer,minDuration:500}">
                                        <table class="edit-table" dynamic-table columns="modelInstaller.installupdateColumns" execute="modelInstaller.loadUpdates()">
                                            <tbody>
                                            <tr ng-repeat="item in installupdateItems">
                                                <td><img ng-src="{{item.icon}}" height="16px" width="16px" style="vertical-align:middle">{{item.name}}</td>
                                                <td>{{item.module}}</td>
                                                <td>{{item.current_version}}</td>
                                                <td>{{item.installTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                                <!--<td>{{item.lastRevision}}</td>-->
                                                <td class="edit-td">
                                                    <div layout="row">
                                                        <a class="edit-span" class="md-primary" style="cursor:pointer" href=""
                                                           ng-if="!!item.lastRevision" ng-hide="item._versionEdit" >
                                                            {{item.lastRevision}}
                                                            <md-tooltip md-direction="top" class="f2c-tooltip-version">
                                                                版本信息：{{item.last_version.revision}}<br>
                                                                创建时间：{{item.last_version.created}}<br>
                                                                下载地址：{{item.last_version.downloadUrl}}<br>
                                                                <span class="auto-break">描述信息：{{item.last_version.description}}</span>
                                                            </md-tooltip>
                                                        </a>
                                                        <!--<span class="edit-span" ng-hide="item._versionEdit" >{{item.lastRevision}}</span>-->
                                                        <md-select ng-show="item._versionEdit" ng-model="item.lastRevision" ng-change="modelInstaller.doneEditVersion(item)">
                                                            <md-option ng-repeat="vitem in currentUpdateRevisions" value="{{vitem.revision}}">{{vitem.revision}}
                                                            </md-option>
                                                        </md-select>
                                                        <span class="hide-content" ng-if="item._update_options.length > 1">
                                                            <md-icon ng-if="!item._versionEdit" ng-click="modelInstaller.editUpdateVersion(item)" >edit</md-icon>
                                                            <md-icon ng-if="item._versionEdit" ng-click="modelInstaller.doneEditVersion(item)" >done</md-icon>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td>{{item.overview}}</td>
                                                <td>
                                                    <md-button ng-click="item.enable = true;modelInstaller.executeUpdate()">
                                                        <md-icon class="md-18">build</md-icon>
                                                        更新
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--<table-pagination pagination="pagination"></table-pagination>-->
                                    </md-content>
                                </div>
                            </md-tab>
                            <md-tab label="已安装" has-permission="KEYCLOAK_SETTING:SYNC">

                                <md-content class="md-padding" cg-busy="{promise:loadingLayer,minDuration:500}" >
                                    <filter-tools conditions="conditions" results="filters" search="'true'" execute="list()">
                                        <select-columns columns="columns"></select-columns>
                                        <div class="filter-item">
                                            <md-button class="md-icon-button md-whiteframe-1dp" ng-click="start()">
                                                <md-tooltip md-delay="300">启动</md-tooltip>
                                                <md-icon>touch_app</md-icon>
                                            </md-button>
                                        </div>
                                        <div class="filter-item">
                                            <md-button class="md-icon-button md-whiteframe-1dp" ng-click="stop()">
                                                <md-tooltip md-delay="300">停止</md-tooltip>
                                                <md-icon>stop</md-icon>
                                            </md-button>
                                        </div>
                                        <!--<div class="filter-item">
                                            <md-button class="md-icon-button md-whiteframe-1dp" ng-click="modelInstaller.unInstall()">
                                                <md-tooltip md-delay="300">卸载</md-tooltip>
                                                <md-icon>delete</md-icon>
                                            </md-button>
                                        </div>-->
                                        <div class="filter-item">
                                            <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                                                <md-tooltip md-delay="300">{{'i18n_refresh' | translator:'刷新'}}</md-tooltip>
                                                <md-icon>refresh</md-icon>
                                            </md-button>
                                        </div>
                                    </filter-tools>
                                    <table dynamic-table columns="columns" execute="list({sql :sql})">
                                        <tbody>
                                        <tr ng-repeat="item in items">
                                            <td has-permissions="KEYCLOAK_SETTING:SYNC">
                                                <md-checkbox md-no-ink aria-label=" {{'i18n_mail_enable' | translator}}"
                                                             ng-model="item.enable"
                                                             class="md-primary"></md-checkbox>
                                            </td>
                                            <td><img ng-src="{{item.remoteImageUrl}}" height="16px" width="16px" style="vertical-align:middle">{{item.name}}</td>
                                            <td>{{item.module}}</td>
                                            <td>
                                                <md-switch class="md-primary" aria-label="enable" ng-model="item.currentStatus==='started'" disabled>
                                                </md-switch>
                                            </td>
                                            <td>{{item.lastRevision}}</td>
                                            <td>{{item.installTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                            <td>{{item.overview}}</td>
                                            <td >

                                                <table-menus>
                                                    <md-menu-item ng-if="!item.currentStatus">
                                                        <md-button ng-click="start(item)">
                                                            <md-icon class="md-18">touch_app</md-icon>
                                                            启动
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-if="!!item.currentStatus">
                                                        <md-button ng-click="stop(item)">
                                                            <md-icon class="md-18">stop</md-icon>
                                                            停止
                                                        </md-button>
                                                    </md-menu-item>

                                                    <!--<md-menu-item >
                                                        <md-button ng-click="modelInstaller.unInstall(item)">
                                                            <md-icon class="md-18">delete</md-icon>
                                                            卸载
                                                        </md-button>
                                                    </md-menu-item>-->

                                                </table-menus>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <table-pagination pagination="pagination"></table-pagination>
                                </md-content>
                            </md-tab>
                            <md-tab label="自定义" has-permission="KEYCLOAK_SETTING:SYNC">
                                <h1>玩命开发中。。。。。。</h1>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </wizard-step>

            </div>
        </md-content>

    </div>
</div>

