<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.commons.server.base.mapper.ext.ExtPermissionCommonMapper">

    <select id="getPermissionNamesByUserIdAndModuleId" resultType="java.lang.String">
        select role_permission.permission_id
        from user_role, role_permission
        where user_role.role_id = role_permission.role_id
              and user_role.user_id = #{userId}
              and role_permission.module_id = #{moduleId}
    </select>
</mapper>