<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.commons.server.base.mapper.ext.ExtUserRoleMapper">

    <select id="getUserRoleHelpList" parameterType="java.lang.String"
            resultType="com.fit2cloud.commons.server.model.UserRoleHelpDTO">
        SELECT
            user_role.role_id AS roleId,
            role.`name` AS roleName,
            role.parent_id AS roleParentId,
            user_role.source_id AS sourceId,

            IF(workspace.id IS NULL,IF(organization.id IS NULL,'',organization.`name`),workspace.name) AS sourceName,

            IF(workspace.id IS NULL,NULL,workspace.organization_id) AS parentId

            FROM user_role LEFT JOIN role ON role.id = user_role.role_id

            LEFT JOIN workspace ON workspace.id = user_role.source_id

            LEFT JOIN organization ON organization.id = user_role.source_id

            WHERE user_role.user_id = #{userId}
    </select>

    <select id="getRoleTreeHelpList" parameterType="java.lang.String"
            resultType="com.fit2cloud.commons.server.model.UserRoleHelpDTO">
        SELECT
            user_role.role_id AS roleId,
            role.`name` AS roleName,
            role.parent_id AS roleParentId,
            user_role.source_id AS sourceId
        FROM user_role LEFT JOIN role ON role.id = user_role.role_id
        where user_role.user_id = #{userId}
    </select>


    <select id="getCustomRolesByUserId" resultType="java.lang.String">
        SELECT user_role.role_id FROM user_role
        LEFT JOIN role ON user_role.role_id = role.id
        WHERE user_role.user_id = #{userId} AND role.parent_id = 'other'
    </select>
</mapper>