/*!
 * 项目CSS，有特殊需求就写在这里。
**/
.dashboard {
    margin: 16px 8px;
}

.dashboard md-card-header {
    background-color: #fff;
    padding-left: 6px;
    text-align: center;
}

.dashboard md-card {
    background-color: white !important;
}

.f2c-menu-item {
    min-height: 36px;
    height: 36px;
}

.f2c-menu-item .md-button {
    font-size: 14px;
}

[ng-drop].drag-enter {
    overflow: hidden !important;
    background-color: transparent !important;
    border-top: solid 5px #006fff;
}

[ng-drag].dragging {
    opacity: 0.5;
}

[ng-drop] div {
    z-index: 2;
}

.dashboard .dashboard-header {
    padding: 20px 12px 12px 12px;
    line-height: 24px;
}

.dashboard .no-margin {
    margin: 0;
}

.dashboard .cursor {
    cursor: pointer;
}

.dashboard .float-left-line {
    float: left;
    display: inline;
}

.dashboard .float-right-line {
    float: right;
    display: inline;
}

.dashboard .dashboard-header .title {
    display: inline;
    font-size: 17px;
    margin-left: 6px;
    vertical-align: middle
}

.dashboard .dashboard-header .more-vert-btn {
    padding: 0px;
    height: 24px;
    min-height: 0;
    width: 24px;
    margin: 0px
}

.dashboard .footer-border {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
}

.dashboard .footer {
    padding: 12px 12px;
    line-height: 24px;
}

.dashboard .footer .title {
    display: inline;
    margin-left: 10px;
    vertical-align: middle
}

.dashboard .content {
    min-height: 50px;
}

.dashboard .footer-hover {
    background-color: rgba(0, 0, 0, 0.04);
}

md-tab-data {
    height: 54px;
    opacity: 1;
    right: 0;
    left: auto;
    z-index: 20;
}

.dashboard-background md-tab-content {
    height: 100vh;
}

.dashboard-background md-tabs-content-wrapper {
    height: 100vh;
    overflow: hidden;
}

md-tab-data .md-button {
    height: 100%;
    margin: 0;
    padding: 0;
}

md-tabs-canvas {
    height: 54px;
}

md-pagination-wrapper {
    height: 54px;
}

md-tabs-wrapper {
    height: 54px;
}

.dashboard-background {
    background-image: url('../image/background.svg');
    background-size: cover;
}

.f2c-card-size {
    min-width: 300px;
    max-width: 460px !important;
}

.f2c-card-size-hidden {
    min-width: 300px;
    max-width: 460px !important;
}

