<div class="filter-condition">
    <script type="text/ng-template" id="filter-select">
        <md-content layout="column" class="md-whiteframe-2dp">
            <input class="filter-select-search" type="search" ng-model="label"
                   placeholder="{{'i18n_filter_quick_query' | translator:'快速查找'}}"
                   ng-show="condition.search">

            <div layout="column" class="filter-list" ng-if="condition.selects">
                <md-virtual-repeat-container class="filter-virtual" ng-style="{'height':height}">
                    <div md-virtual-repeat="selected in condition.selects | filter:{label:label}">
                        <md-button ng-click="selectResult(condition, selected);close()">
                            <div ng-if="selected.icon"><img ng-src="{{selected.icon}}" width="16px" height="16px"
                                                            style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;<span
                                    ng-bind="selected.label"></span>
                            </div>
                            <div ng-if="!selected.icon">{{selected.label}}</div>
                        </md-button>
                    </div>
                </md-virtual-repeat-container>
            </div>

            <md-button class="md-accent" ng-click="remove();close()">
                {{'i18n_filter_condition_cancel' | translator:'取消'}}
            </md-button>
        </md-content>
    </script>

    <span>{{condition.name}} : </span>
    <input id="_input_" type="text" class="filter-input-text pointer" ng-model="condition.value" ng-click="open()"
           placeholder="{{'i18n_filter_condition_select' | translator:'请选择'}}{{condition.name}}" readonly filter-popover
           popover-template="filter-select">
</div>

