<div class="filter-condition">
    <script type="text/ng-template" id="filter-number">
        <md-content layout="column" class="md-whiteframe-2dp">
            <div class="filter-title">{{'i18n_filter_condition_number_range' | translator:'数值范围:'}}</div>
            <div class="filter-number">
                <input type="number" ng-model="start" placeholder=">=">
            </div>
            <div class="filter-number">
                <input type="number" ng-model="end" placeholder="<">
            </div>
            <div class="filter-error" ng-if="error">
                <p class="error">{{error}}</p>
            </div>
            <div class="filter-footer">
                <md-button type="button" class="md-accent" ng-click="remove()">
                    {{'i18n_filter_condition_cancel' | translator:'取消'}}
                </md-button>
                <md-button type="button" class="md-primary" ng-click="add(start, end)">
                    {{'i18n_filter_condition_ok' | translator:'确定'}}
                </md-button>
            </div>
        </md-content>
    </script>

    <span>{{condition.name}} : </span>
    <input id="_input_" type="number" class="filter-input-text pointer" ng-model="condition.value"
           placeholder="{{'i18n_filter_condition_number_range_select' | translator:'请选择数值范围'}}" auto-open="false" readonly
           filter-popover
           popover-template="filter-number" ng-click="open()">
</div>

