<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16">
    <title>{{'i18n_overview' | translator}}</title>
    <!--必要CSS-->
    <link rel="stylesheet" th:href="@{'web-public/external/angular-material/angular-material.min.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/angular-busy/angular-busy.min.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/font-awesome/web-fonts-with-css/css/fontawesome-all.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/material-icons/material-icons.css'}">
    <link rel="stylesheet" th:href="@{'web-public/fit2cloud/css/fit2cloud-style.css?t='+${timestamp}}">

    <!--可选CSS-->


    <!--项目CSS-->
    <link rel="stylesheet" th:href="@{'project/css/project-style.css?t='+${timestamp}}">
</head>

<body ng-app="ProjectApp" ng-cloak>
<div class="content-backdrop dashboard-background" style="height: 100%;overflow: hidden"
     ng-controller="DashboardController" ng-cloak>

    <div cg-busy="{promise:loadingLayer,minDuration:500}">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-button class="btn md-primary" ng-click="customize()"
                       ng-if="!itemStatus.isCustomize && itemStatus.hiddenCustomize">
                {{'i18n_custom' | translator}}
            </md-button>
            <md-button class="btn md-primary" ng-click="customize()"
                       ng-if="itemStatus.isCustomize && itemStatus.hiddenCustomize">
                {{'i18n_dashboard_complete' | translator}}
            </md-button>
            <md-tab label="{{'i18n_dashboard_information' | translator}}" ng-click="clickTag(true)">

                <md-content class="md-padding" layout="row" layout-align="center"
                            style="padding-top: 0;background-color:transparent;height: calc(100% - 54px);overflow-x: hidden">
                    <div flex="33" class="f2c-card-size">
                        <div ng-if="lItems.length===0"
                             style="height: 200px;opacity: 0;background-color: white"
                             ng-drop="true"
                             ng-drop-success="onDropPush(lItems.length,$data,$event,lItems,'first')">
                        </div>
                        <div
                                class="dashboard"
                                ng-repeat="item in lItems"
                                ng-drop="true"
                                ng-drop-success="onDropComplete($index,$data,$event,lItems,'drop')">
                            <div ng-drag="itemStatus.isCustomize"
                                 ng-drag-data="item"
                                 ng-drag-stop="onDragStop($event)"
                                 ng-drag-success="onDragComplete($data,$event,lItems)"
                                 ng-drag-start="onDragStart($event)"
                                 ng-center-anchor="true">
                                <f2c-card data="item" item-status="itemStatus"
                                          ng-if="item.display || itemStatus.isCustomize"
                                          change-hide="changeHide()"></f2c-card>
                            </div>
                        </div>
                        <div ng-if="lItems.length >0 && itemStatus.isCustomize"
                             style="height: 200px;overflow: hidden"
                             ng-drop="true"
                             ng-drop-success="onDropPush(cItems.length,$data,$event,lItems,'last')">
                        </div>
                    </div>
                    <div flex="33" class="f2c-card-size">
                        <div ng-if="cItems.length===0"
                             style="height: 200px;opacity: 0%;"
                             ng-drop="true"
                             ng-drop-success="onDropPush(lItems.length,$data,$event,cItems,'first')">
                        </div>
                        <div class="dashboard" ng-repeat="item in cItems"
                             ng-drag="itemStatus.isCustomize"
                             ng-drop="true"
                             ng-drag-data="item"
                             ng-drag-start="onDragStart($event)"
                             ng-drag-stop="onDragStop($event)"
                             ng-drag-success="onDragComplete($data,$event,cItems)"
                             ng-center-anchor="true"
                             ng-drop-success="onDropComplete($index,$data,$event,cItems,'drop')">
                            <f2c-card data="item" item-status="itemStatus"
                                      ng-if="item.display || itemStatus.isCustomize"
                                      change-hide="changeHide()"></f2c-card>
                        </div>
                        <div ng-if="cItems.length >0 && itemStatus.isCustomize"
                             style="height: 200px;opacity: 0%;overflow: hidden"
                             ng-drop="true"
                             ng-drop-success="onDropPush(cItems.length,$data,$event,cItems,'last')">
                        </div>
                    </div>
                    <div flex="33" class="f2c-card-size">
                        <div ng-if="rItems.length===0"
                             style="height: 200px;opacity: 0%;"
                             ng-drop="true"
                             ng-drop-success="onDropPush(lItems.length,$data,$event,rItems,'first')">
                        </div>
                        <div class="dashboard" ng-repeat="item in rItems"
                             ng-drag="itemStatus.isCustomize"
                             ng-drop="true"
                             ng-drag-data="item"
                             ng-drag-start="onDragStart($event)"
                             ng-drag-stop="onDragStop($event)"
                             ng-center-anchor="true"
                             ng-drag-success="onDragComplete($data,$event,rItems)"
                             ng-drop-success="onDropComplete($index,$data,$event,rItems,'drop')">
                            <f2c-card data="item" item-status="itemStatus"
                                      ng-if="item.display || itemStatus.isCustomize"
                                      change-hide="changeHide()"></f2c-card>
                        </div>
                        <div ng-if="rItems.length >0  && itemStatus.isCustomize"
                             style="height: 200px;opacity: 0%;overflow: hidden"
                             ng-drop="true"
                             ng-drop-success="onDropPush(cItems.length,$data,$event,rItems,'last')">
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{'i18n_dashboard_activity' | translator}}" ng-click="clickTag(false)">
                <div layout="row" flex ng-controller="OperateLogController" style="height: 90vh">
                    <div class="md-padding" layout="column" flex="100">
                        <filter-tools conditions="conditions" results="filters" search="'true'" execute="logList()">
                            <select-columns columns="columns"></select-columns>
                            <div class="filter-item">
                                <md-button class="md-icon-button md-whiteframe-1dp" ng-click="logList()">
                                    <md-tooltip md-delay="300">{{'i18n_refresh' | translator}}</md-tooltip>
                                    <md-icon>refresh</md-icon>
                                </md-button>
                            </div>
                        </filter-tools>
                        <div flex layout="column" layout-fill>
                            <table dynamic-table columns="columns" execute="list({sql: sql})">
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{item.workspaceName}}</td>
                                    <td>
                                        <user-info user-id="item.resourceUserId"></user-info>
                                    </td>
                                    <td>{{item.operation}}</td>
                                    <td>{{item.resourceType }}</td>
                                    <td>{{item.resourceName }}</td>
                                    <td ng-bind="getModule(item.module)"></td>
                                    <td>{{item.sourceIp}}</td>
                                    <td>{{item.time | date:'yyyy-MM-dd HH:mm'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table-pagination pagination="pagination"></table-pagination>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </div>
</div>
</body>
<!--必要JS-->
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    window.appversion = [[${timestamp}]];
    /*]]>*/
</script>

<script th:src="@{'web-public/external/external.min.js?t='+${timestamp}}"></script>
<script th:src="@{'web-public/fit2cloud/js/fit2cloud-common.min.js?t='+${timestamp}}"></script>

<!--可选JS-->
<script th:src="@{'web-public/external/echarts/echarts.min.js'}"></script>
<script th:src="@{'web-public/external/echarts/fit2cloud-echarts-theme.js?t='+${timestamp}}"></script>
<script th:src="@{'project/js/common/ngDraggable.js?t='+${timestamp}}"></script>

<!--项目JS-->
<script th:src="@{'project/js/app.js?t='+${timestamp}}"></script>
<script th:src="@{'project/js/common/service.js?t='+${timestamp}}"></script>
<script th:src="@{'project/js/common/directive.js?t='+${timestamp}}"></script>
<script th:src="@{'project/js/dashboard/dashboard.js?t='+${timestamp}}"></script>

<script th:each="js:${jsList}" th:src="@{${js}+'?t='+${timestamp}}"></script>
</html>
