<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>{{'i18n_label_import' | translator:'导入标签值'}}</div>
        </div>
    </md-toolbar>
    <form name="tagEditForm" class="md-padding">
        <div class="md-dialog-content">
            <md-choose-file layout="row" file="file" accept="text/csv" placeholder="Please select csv file" required="true"></md-choose-file>
            <md-input-container class="md-block" ng-init="isClear=false">
                <md-switch class="md-primary" aria-label="enable" ng-model="isClear">
                    {{'i18n_label_import_clear' | translator:'是否清空已有标签'}}
                </md-switch>
            </md-input-container>
        </div>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="toggleForm()">
                {{'i18n_cancel' | translator:'取消'}}
            </md-button>
            <md-button class="md-raised md-primary" ng-click="uploadFile(file, isClear)" ng-disabled="!file || file.length == 0">
                {{'i18n_save' | translator:'保存'}}
            </md-button>
        </md-dialog-actions>
    </form>
</div>
