<div ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div ng-if="item.tagId">{{'i18n_label_edit' | translator:'编辑标签'}}</div>
            <div ng-if="!item.tagId">{{'i18n_label_add' | translator:'添加标签'}}</div>
        </div>
    </md-toolbar>
    <form name="tagEditForm" class="md-padding">
        <div layout="column">
            <md-input-container class="md-block">
                <label>{{'i18n_label' | translator:'标签'}}</label>
                <input md-maxlength="50" required name="tagKey" ng-disabled="item.tagId" ng-model="item.tagKey">
                <div ng-messages="tagEditForm.tagKey.$error">
                    <div ng-message="required">{{'i18n_required' | translator:'必填'}}.</div>
                    <div ng-message="md-maxlength">{{'i18n_error_exceed_50_c' | translator:'不要超过50个字符'}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{'i18n_label_alias' | translator:'别名'}}</label>
                <input required name="tagAlias" ng-model="item.tagAlias" md-maxlength="50"/>
                <div ng-messages="tagEditForm.tagAlias.$error">
                    <div ng-message="required">{{'i18n_required' | translator:'必填'}}.</div>
                    <div ng-message="md-maxlength">{{'i18n_error_exceed_50_c' | translator:'不要超过50个字符'}}</div>
                </div>
            </md-input-container>
        </div>
    </form>
    <div layout="row" layout-align="start center" layout-margin>
        <md-button class="md-raised" ng-click="toggleForm()">
            {{'i18n_cancel' | translator:'取消'}}
        </md-button>
        <md-button class="md-raised md-primary" ng-click="editTagSubmit(item)" ng-disabled="tagEditForm.$invalid">
            {{'i18n_save' | translator:'保存'}}
        </md-button>
    </div>
</div>
